

.logo{
   height: 10vh;
    width: 10vh;
    border-radius: 50%;

}

.header{
    background-image: url("media/cover2.jpg");

    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center
}

/* Style the text and place it in the middle of the cover/image */
.cover {
  color: white;
  font-size: 5vh;
  font-family: sans-serif;
}

i{
    font-size: 6vh;
    color: white;
    margin: 5px;
}

.iconwrapper{
   width: 20px;
    display: flex;
    justify-content: flex-end; 
}

.noborder{
    border:none !important;
       height: 10vh !important;
    width: 10vh !important;
    border-radius: 50% !important;

}

.btn:focus{
    box-shadow: none !important;
}


.card-deck{
    background-color: #3C2F1E;
    padding: 15px;
}

.properties{
     background-color: #93663B;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.boxin{
    width: 23%;
    height: 295px;
    background-color: #C0885A;
}
.formcontainer{
   background-color: #F2C6A0; 
}
form{
    
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 15px;
}

.contactform{
    margin: auto;
    display: flex;
}

.contactform input{
    width:100%;
}

/*Calendar*/

.calendar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:  "Baloo";
    padding-top: 60px;
}
input, textarea {
    padding: 0;
    border: none;
    transition: .4s;
}
.flex {
    display: flex;
}
.flex.center-v {
    align-items: center;
}
.flex.center-h {
    justify-content: center;
}
.flex.center-vh {
    align-items: center;
    justify-content: center;
}
.flex.start {
    justify-content: flex-start;
}
.flex.end {
    justify-content: flex-end;
}
.flex.around {
    justify-content: space-around;
}
.flex.between {
    justify-content: space-between;
}
.flex.row {
    flex-direction: row;
}
.flex.column {
    flex-direction: column;
}
.flex.wrap {
    flex-wrap: wrap;
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.clickable, #calender-title, 
#calender-panel, #calender-buttons {
    cursor: pointer;
}
.colorRed {
    color: #FF6B6B;
}
.bgColorRed {
    background-color: #FF6B6B;
}
.bgColorDarkRed {
    background-color: #bc6969;  
}
.width-full {
    width: 100%;
}
.width-half {
    width: 50%;
}
.width-3-4 {
    width: 75%;
}
.width-1-4 {
    width: 25%;
}
.overflow-hidden {
    overflow: hidden;
}


#calender-wrapper {
    position: relative;
    border: 6px solid #FF6B6B;
    border-radius: 10px;
    overflow: hidden;
}

#calender-panel {
    z-index: 5;
  position: relative;
    background: #FF6B6B;
    border-top: 6px solid #FF6B6B;
    color: white;
    font-size: 30pt;
    height: 60px;
}

#calender-panel p {
    padding-right: 20px;
}
#calender-panel p:hover {
    cursor: pointer;
    transition: .2s;    
}

#calender-title {
    background: #FF6B6B;
    color: white;
    font-size: 30pt;
    height: 60px;
}

#calender-title div {
    height: 60px;
    width: 60px;
}
#calender-title p {
    height: 60px;
    width: 150px;   
} 

#calender-title #left:hover span {
    padding-right: 10px;
    transition: .2s;
}
#calender-title #right:hover span {
    padding-left: 10px;
    transition: .2s;
}

#calender-content {
    width: 700px;
    padding: 10px;
}
#calender-panel #info {
    border-right: 6px solid #FF6B6B;
    height: 100%;
    width: 75%;
    font-size: 13pt;
}
#calender-panel #info div {
    padding-left: 20px;
    width: 100%;
    height: 50%;
}
#calender-panel #info div p {
    width: 50%;
    height: 100%;
    border-right: 6px solid #FF6B6B;
}

#calender-panel #clear {
    height: 100%;
    width: 25%;
    line-height: 12px;
    font-size: 14pt;
    text-align: center;
    transition: .4s;
}
#calender-panel #clear:hover {
    background: #965252;
}
#calender-panel #clear p {
    padding: 0;
    margin: 0;
}

#calender-buttons {
    margin-top: 20px;
    width: 720px;
    height: 60px;
    background: #FF6B6B;
    border: 6px solid #FF6B6B;
    border-radius: 10px;
    transition: .4s;
}
#calender-buttons:hover {
    height: 70px;   
}
#make-booking {
    width: 100%;
    height: 100%;
    font-size: 20pt;
    color: white;
}
#booking-wrapper {
    position: absolute;
    height: 650px;
    width: 720px;
    background: white;
    border-radius: 10px 10px 0 0;
    margin-top: 150px;
    transition: .4s;
    overflow: hidden;
}
#booking-wrapper.opened {
    margin-top: -645px;
}
#booking-title {
    color: white;
    font-size: 30pt;
    height: 60px;
    width: 100%;
}
#booking-form {
    height: 685px;
    width: 98%;
    padding: 10px;
    background: #FF6B6B;
}
#booking-form p {
    margin: 20px 0 0 0;
    color: white;
    font-size: 14pt;
}
#booking-form > div:nth-child(1) p {
    margin: 0;
}
#booking-form input {
    height: 45px;
}
#booking-form textarea {
    height: 235px;
    resize: none;
}
#booking-form textarea, #booking-form input {
    padding-left: 10px;
  width: calc(100% - 12px);
    background: white;
    color: #FF6B6B;
    font-family: "Baloo";
    font-size: 14pt;
}
textarea.formError, input.formError {
    transition: .4s;
    background: #ffdddd !important;
  box-shadow: inset 0px 0px 0px 5px rgba(205, 108, 108, 0.92);
}
#booking-form .width-3-4 {
    border-right: 6px solid #FF6B6B;
}

.month {
    width: 100px;
    height: 100px;
    transition: .4s;
}

#days p {
    width: 100px;
    text-align: center; 
    font-size: 15pt;
}

.month-selector {
    width: 100%;
    height: 100%;
    transition: .4s;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .month-selector.clicked {
        background: #FF6B6B;
        color: white;
    }
    .month-selector.booked {
        background: #743131;
        color: white;
        overflow: hidden;
    }
        .month-selector.booked:after {
            content: 'X';
            position: absolute;
            margin-top: -3px;
            font-size: 100pt;
            font-family: "Ubuntu";
            opacity: 0.1;
        } 
.clickable:hover {
    z-index: 3;
    height: 110px;
    width: 110px;
    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.14);
    background: #FF6B6B;
    color: white;
}









