
body{
    font-family: 'Raleway', sans-serif !important;
}

.logo{
   height: 10vh;
    width: 10vh;
    border-radius: 50%;

}


.header{
    background-image: url("media/cover2.jpg");

    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center
}

/* Style the text and place it in the middle of the cover/image */
.cover {
  color: white;
  font-size: 8vh;
  font-family: 'Raleway', sans-serif;
  align-content: center;
}

.dropdown-menu{
   font-family: 'Raleway', sans-serif !important;
}


i{
    font-size: 6vh;
    color: white;
    margin: 5px;
}


.iconwrapper{
   width: 20px;
    display: flex;
    justify-content: flex-end; 
}

.noborder{
    border:none !important;
       height: 10vh !important;
    width: 10vh !important;
    border-radius: 50% !important;

}

.formcontainer{
   background-color: #F2C6A0; 
}
form{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 15px
    box-shadow: none !important;
    border:none !important;
    }

.contactform{
    margin: auto;
    display: flex;
}

.btn:focus{
    box-shadow: none !important;
}

.contactform input{
    width:100%;
}


.boxin{
    width: 23%;
    height: 295px;
    background-color: #C0885A;
}
.properties{
    background-color: #93663B;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card-deck{
    background-color: black;
    padding: 15px;
    border:none !important;

}

.card{
     border:none !important;
}

.card-body{
    background-color: black !important;
    border:none !important;
    color: white;
}


