
body{
    font-family: 'Raleway', sans-serif !important;
}

.logo{
   height: 10vh;
    width: 10vh;
    border-radius: 50%;

}


.header{
    background-image: url("dinner2.jpg");
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center
}

/* Style the text and place it in the middle of the cover/image */
.cover {
  color: white;
  font-size: 8vh;
  font-family: 'Raleway', sans-serif;
  align-content: center;
}

.dropdown-menu{
   font-family: 'Raleway', sans-serif !important;
}

.h4{font-family: 'Raleway', sans-serif !important;
    color: white;
    position: absolute;
    width: 45%;
   

}
i{
    font-size: 6vh;
    color: white;
    margin: 5px;
}


.iconwrapper{
   width: 20px;
    display: flex;
    justify-content: flex-end; 
}

.noborder{
    border:none !important;
       height: 10vh !important;
    width: 10vh !important;
    border-radius: 50% !important;

}

.btn:focus{
    box-shadow: none !important;
}

.container{
   
    background-color: black;
    width:100%;
    max-width:100%;
    display: flex;
    justify-content: space-between;
}



.div1{
    border: 1px solid black;
    width: 45%;
    height: 400px;
    margin-top: 13%;
    margin-bottom: -7%;
    justify-content: center;
    
}

.div2{
    justify-content: space-between;
    width: 50%;
    height: 400px;
    margin-top: 1%;
    margin-bottom: -7%;
    
}

.div4{
    border: 1px solid black;
    width: 45%;
    height: 400px;
    margin-top: 13%;
    margin-bottom: 5%;
    justify-content: center;
    
}

.div3{
    justify-content: space-between;
    width: 50%;
    height: 400px;
    margin-top: 1%;
    margin-bottom: 5%;
    
 }
.div5{
        border: 1px solid black;
        width: 45%;
        height: 400px;
        margin-top: 25%;
        margin-bottom: 3%;
        justify-content: center;
        
    }
    
.div6{
        justify-content: space-between;
        width: 50%;
        height: 400px;
        margin-top: 5%;
        margin-bottom: 3%;
        
    }







