
.logo{
    height: 10vh;
     width: 10vh;
     border-radius: 50%;
 <style>
body {
  background-image: url('wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>